body{
    margin:0px;
    padding: 0% 5%;

}
.new-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: 0%;
}

.title-header{
    display: flex;
    flex-direction: row;
}
.title-header h1{
    display: flex;
    width: 60%;  
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: aqua;
}
.navbarelement{
    padding: 5px;
    margin: 2px;
    background-color: bisque;
    width: min-content;
}
.new{
    background-color:burlywood
}
   